<!DOCTYPE html>
<html>
	<head>
		<title>StoryStore Admin</title>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script>
			$(function() {
				$(document).on('change', '#file-input__store-csv', function() {
					const reader = new FileReader();
					reader.onload = function(e) {
						$('textarea[name="store_csv"]').val(e.target.result);
					};
					reader.readAsText(this.files[0]);
				})

				$(document).on('change', '#file-input__shelves-csv', function() {
					const reader = new FileReader();
					reader.onload = function(e) {
						$('textarea[name="shelves_csv"]').val(e.target.result);
					};
					reader.readAsText(this.files[0]);
				});
			});
		</script>
		<style>
			body {
				font-size: 18px;
			}
			.form-group {
				display: flex;
				flex-direction: column;
				border-bottom: 2px solid black;
				padding: 1rem;
			}
			.form-group > * {
				margin-bottom: 1rem;
			}
		</style>
	</head>
	<body>
		<div>
			<table border="1">
				<thead>
					<tr>
						<th>ID</th>
						<th>Slug</th>
						<th>Name</th>
						<th>Tagline</th>
						<th>Settings</th>
						<th>Payments Provider</th>
					</tr>
				</thead>
				<tbody>
					<% for (const store of stores) { %>
					<tr>
						<td><%=store.id%></td>
						<td><%=store.slug%></td>
						<td><%=store.name%></td>
						<td><%=store.tagline%></td>
						<td><%=store.settings%></td>
						<td><%- JSON.stringify(store.payment) %></td>
					</tr>
					<% } %>
				</tbody>
			</table>
			<hr />
		</div>
		<div>
		<h3><a href="/admin/db">Database</a></h3>
		</div>
		<div>
			<h1>Create Store</h1>
			<form method="POST" action="/admin/create-store">
				<div class="form-group">
					<h2>Store</h2>
					<h4>Basic Info</h6>
					<input name="store_slug" placeholder="Slug" />
					<input name="store_name" placeholder="Name" />
					<input name="store_tagline" placeholder="Tagline" />
				</div>
				<div class="form-group">
					<h4>Info</h4>
					<input name="store_info_address" placeholder="Address" />
					<input name="store_info_email" placeholder="Email" />
					<input name="store_info_phone" placeholder="Phone" />
					<textarea
						name="store_info_opening-hours"
						placeholder="Opening Hours"
					></textarea>
				</div>
				<div class="form-group">
					<h4>Additional Info</h4>
					<textarea name="store_about" placeholder="About"></textarea>
					<textarea
						name="shipping_details"
						placeholder="Shipping Details"
					></textarea>
					<textarea
						name="returns"
						placeholder="Returns"
					></textarea>
				</div>
				<div class="form-group">
					<h4>Payment Info</h4>
					<select name="payment_provider">
						<option value="yaadpay">Yaad Pay</option>
						<option value="i-credit">iCredit</option>
					</select>
					<input name="payment_account_id" placeholder="Payment provider account ID (e.g. token, masof)" />
					<label for="payment_test">Testing flag</label>
					<input
						name="payment_test"
						type="checkbox"
						value="true" checked
					>

				</div>
				<div class="form-group">
					<input type="submit" value="Create" />
				</div>
			</form>
		</div>
		<section id="import-store">
			<form  method="POST" action="/admin/import/store">
				<h2>Import Stores Table</h2>
				<div class="form-group">
					<input type="file" id="file-input__store-csv" />
					<textarea name="store_csv"></textarea>
				</div>
				<div class="form-group">
					<input type="submit" value="Import Store" />
				</div>
			</form>
		</section>
		<!-- IMPORT SHELVES -->
		<div>
			<form method="POST" action="/admin/import/shelves">
				<div class="form-group">
					<h2>Shelves & Variations CSV (Import)</h2>
					<input type="file" id="file-input__shelves-csv" />
					<textarea name="shelves_csv"></textarea>
					Store Name
					<select name="store">
						<% for (const store of stores) { %>
						<option value="<%=store.slug%>"><%=store.slug%></option>
						<% } %>
					</select>
				</div>
				<div class="form-group">
					<input type="submit" value="Import Shelves" />
				</div>
				<!-- <input type="checkbox" id="uploadAssets" name="uploadAssets" checked /> Upload Assets to S3 -->
			</form>
		</div>
		<!-- REMOVE SHELVES -->
		<div>
			<form method="POST" action="/admin/delete-shelves">
				<div class="form-group">
					<h2>Remove shelves</h2>
					Store Name
					<select name="storeId">
						<% for (const store of stores) { %>
						<option value="<%=store.id%>"><%=store.slug%></option>
						<% } %>
					</select>
				</div>
				<div class="form-group">
					<input type="submit" value="Remove Shelves" />
				</div>
				<!-- <input type="checkbox" id="uploadAssets" name="uploadAssets" checked /> Upload Assets to S3 -->
			</form>
		</div>


		<div>
		<form method="POST" action="/admin/export">
			<div class="form-group">
				<h2>Shelves & Variations CSV (Export)</h2>
				Store Name
				<select name="store">
					<% for (const store of stores) { %>
					<option value="<%=store.slug%>"><%=store.name%></option>
					<% } %>
				</select>
			</div>
			<div class="form-group">
				<input type="submit" value="Export" />
			</div>
			<!-- <input type="checkbox" id="uploadAssets" name="uploadAssets" checked /> Upload Assets to S3 -->
		</form>
	</div>
	</body>
</html>
